@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #d9886a;
  --color-header-text: #d9886a;
  --color-main-text: white;
  --color-text-secondary: #085942;
  --color-text-tertiary: #02734a;
  --color-background-header: white;
  --color-background-main: #085942;
  --color-background-footer: #02734a;
  --color-background-card: white;

  /* FONTS */
  --font-family-text: "Open Sans", sans-serif;

  /* BORDERS */
  --border-radius: 15px;
}

body {
  font-family: var(--font-family-text);
  margin: 0;
  background-color: var(--color-background-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-text);
}

h1 {
  font-weight: 800;
}

.header {
  background-color: var(--color-background-header);
  color: var(--color-header-text);
  text-align: center;
  padding: 4rem 2rem;
}

.main {
  background-color: var(--color-background-main);
  color: var(--color-main-text);
  padding: 2rem;
  text-align: center;
}

.footer {
  background-color: var(--color-background-footer);
  color: var(--color-main-text);
  text-align: center;
  padding: 4rem 2rem;
}

/* Color Theme Swatches in Hex 
.Edifício-Vinhático-1-hex { color: #2E4559; }
.Edifício-Vinhático-2-hex { color: #4A6D8C; }
.Edifício-Vinhático-3-hex { color: #6A8AA6; }
.Edifício-Vinhático-4-hex { color: #A9C6D9; }
.Edifício-Vinhático-5-hex { color: #8C694A; } */

/* Color Theme Swatches in Hex */
.La-Scala-Ristorante-1-hex {
  color: #085942;
}
.La-Scala-Ristorante-2-hex {
  color: #0e7356;
}
.La-Scala-Ristorante-3-hex {
  color: #02734a;
}
.La-Scala-Ristorante-4-hex {
  color: #f2c6a0;
}
.La-Scala-Ristorante-5-hex {
  color: #d9886a;
}
